.post-item {
  padding: 1.2em 0;
}

.post-item-description {
  margin: 0.3em 0 0.5em;
  font-size: 0.95em;
  opacity: 0.75;
  line-height: 1.5;
}

.author {
  margin-bottom: 2em;
}

.author-name {
  font-size: 1.8em;
  margin-bottom: 0.2em;
}

.author-bio {
  font-size: 1.1em;
  line-height: 1.6;
  opacity: 0.8;
}
